$white: rgba(255, 255, 255, 1);
$brandColor: rgba(208, 219, 243, 1);
$opacityBackground: rgba(0, 0, 0, .4);
$backgroundImage: url('./background.svg');
$brandFont: 'Roboto', sans-serif;
$responsiveTablet: 850px;
$responsivePhoneBig: 650px;
$responsivePhoneSmall: 400px;

// --------------

$cartBackground: rgba(255, 121, 121,0.2);